body {
h1
  color: #4E0250;
  font-size: 40px;
  text-shadow:2px 2px 2px #645986;
  text-shadow-color: black;

background-color: #ffe4e1;
}

nav{
  list-style-type:none;
  width: 100%
}

li{
  display: incline;
  padding: 15px;
  float: right;

}
li:hover {
  background-color: #F4C1E8;
}

a{
  text-decoration: none;
  color: white;
}
