body {
h1
  color: #4E0250;
  font-size: 40px;
  text-shadow:2px 2px 2px #645986;
  text-shadow-color: black;
}


.navbar {
  overflow: hidden;
  font-family: Gill Sans;
}

.navbar a {
  float: right;
  font-size: 40px;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}


.Apps {
  float: right;
  overflow: hidden;
}

.Apps .appsbtn {
  color: #4E0250;
  font-size: 40px;
  text-shadow:2px 2px 2px #645986;
  text-shadow-color: black;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: #ffffff00;
  font-family: Gill Sans; 
  margin: 0;
}


.navbar a:hover, .Apps:hover .appsbtn {
  background-color: pink;
}


.apps-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


.apps-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.apps-content a:hover {
  background-color: #ddd;
}

.Apps:hover .apps-content {
  display: block;
}



